@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    /* overflow: hidden; */
}

#divInterface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
}

label,
button {
    font-weight: 600;
    margin-top: 1rem;
}

select,
input {
    margin-top: 0.3rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
}

td,
th {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    text-align: left;
    line-height: 1rem;
}

.tb {
    border-bottom: 1px solid #cccccc;
    font-weight: 600;
}